body{
  font-family: "Montserrat";
  text-align: center;
  
}

h1{
  margin-top: 2%;
}

p{
  margin-left: 5%;
}

h4{
  margin: 5% 5%;
}
.head-item-name{
  margin-top: 5%;
  text-align: center;
  color: #ffff;
}
.title-heading{
  color: #ffff;
}

.navbar{
   padding:0 1rem 1rem;

}

.nav-item{
  padding: 5px 18px;
}


.container-fluid{
 padding: 3% 15% 5%;      /*centering the content in page,7% is bottom padding*/
}

.headerItem-class{
  text-align: center;
  width: 1000px;
  height:300px;


}

.item-box{

  text-align: center;
  
}

.item-img{
  margin-left:2.5%;
  margin-top: 1%;
  width: 300px;
  height: 300px;
}


#title{
 /* background-color: #32dbc6; */  /*#035aa6*/
   background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #035aa6 50%);

}

#main-content{
  background-color: #eff3c6;
}

#footer{
  background-color: #77d8d8;
}


#cart-title{
  background-color: #aacfcf;
}

.secondary-page{
  background-color: #aacfcf;
  
}


.form-control{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.login-image{
display: block;
margin-top: 3%;
margin-bottom: 2%;
margin-left: auto;
margin-right: auto;
  width: 200px;
  height: 200px;
}

.login-btn{
  width: 50%;
  margin-bottom: 3%;
}

.login-icons{
  width: 50px;
  height: 50px;
}

.login-icons:hover{
  width:70px;
  height: 70px;
}


.cart-section-img{
  width: 300px;
  height: 300px;
}


@media (max-width: 1080px) {
  .secondary-page{
    height: 100vh;    /*without this the container was covering partial height in mobile*/
  }
  
  .form-group{
    
    margin-left: auto;
    margin-right: auto;
  }
  
  .headerItem-class{
    text-align: center;
    width: 100%;
    height:auto;
  
}
